<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
   <title>Sprinklers</title>
   <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
   <link rel="stylesheet" href="static/bootstrap-theme.min.css">
   <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
</head>
<body style="background: grey">
   <h1 align="center"; style="color: navy">Raspberry Pi Webserver</h1>
   <h2 style="color: blue">GPIO26
      <button>
          <a href="/pin1/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin1/off" style="color: red"> OFF</a>
      </button>
   </h2>
   <h2 style="color: yellow">GPIO19
      <button>
          <a href="/pin2/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin2/off" style="color: red"> OFF</a>
      </button>
    <h2 style="color: yellow">GPIO13
      <button>
          <a href="/pin3/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin3/off" style="color: red"> OFF</a>
      </button>
    <h2 style="color: yellow">GPIO6
      <button>
          <a href="/pin4/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin4/off" style="color: red"> OFF</a>
      </button> 
    <h2 style="color: yellow">GPIO21
      <button>
          <a href="/pin5/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin5/off" style="color: red"> OFF</a>
      </button>
   <h2 style="color: yellow">GPIO20
      <button>
          <a href="/pin6/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin6/off" style="color: red"> OFF</a>
      </button>
   <h2 style="color: yellow">GPIO16
      <button>
          <a href="/pin7/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin7/off" style="color: red"> OFF</a>
      </button>
   <h2 style="color: yellow">GPIO12
      <button>
          <a href="/pin8/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin8/off" style="color: red"> OFF</a>
      </button>
   <h2 style="color: blue">GPIO4
      <button>
          <a href="/pin9/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin9/off" style="color: red"> OFF</a>
      </button>
   </h2>
   <h2 style="color: yellow">GPIO17
      <button>
          <a href="/pin10/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin10/off" style="color: red"> OFF</a>
      </button>
    <h2 style="color: yellow">GPIO27
      <button>
          <a href="/pin11/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin11/off" style="color: red"> OFF</a>
      </button>
    <h2 style="color: yellow">GPIO22
      <button>
          <a href="/pin12/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin12/off" style="color: red"> OFF</a>
      </button> 
    <h2 style="color: yellow">GPIO18
      <button>
          <a href="/pin13/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin13/off" style="color: red"> OFF</a>
      </button>
   <h2 style="color: yellow">GPIO23
      <button>
          <a href="/pin14/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin14/off" style="color: red"> OFF</a>
      </button>
   <h2 style="color: yellow">GPIO24
      <button>
          <a href="/pin15/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin15/off" style="color: red"> OFF</a>
      </button>
   <h2 style="color: yellow">GPIO25
      <button>
          <a href="/pin16/on" style="color: green"> ON</a>
      </button>
      <button>
         <a href="/pin16/off" style="color: red"> OFF</a>
      </button>


</body>
</html>
